@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/metropolis-regular.otf') format('truetype');
  /* Add additional font weights and formats if available */
}
:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Metropolis','Montserrat', sans-serif;
  background: #f8fafc;
  width: 100%;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}
body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: inherit;
}


h1, h2, h3, h4{
  /* font-size: 3.2em; */
  line-height: 1.1;
  font-family: 'Rubik', sans-serif;
  color: black;
}
h1, h2, h3, h4,p{
  margin: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
  --tw-text-opacity: 1;
    color: rgb(94 99 102 / var(--tw-text-opacity));
}

button {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
